body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('background_image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 60px;
}

.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr 3fr auto 3fr auto 1fr auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.timer-container {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 30px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    padding: 10px 20px;
    margin: 30px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: auto;
    aspect-ratio: 1 / 1;
    width: 400px;
    height: 400px;
}

.board-label {
    text-align: center;
    font-size: 30px;
    margin: 10px;
    width: 100%;
    color: white;
}

.cell {
    background-color: gray;
    border: 1px solid darkgray;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.cell-ship {
    background-image: url(ship.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: gray;
    border: 1px solid darkgray;
}

.cell-hit {
    background-image: url(hit.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: gray;
    border: 1px solid darkgray;
}

.cell-miss {
    background-image: url(miss.png);
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid darkgray;
}

.cell:hover {
    background-color: lightgray;
}

#restart-button {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    padding: 15px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 30px;
    width: 200px;
    border-radius: 5px;
}

#restart-button:hover {
    background-color: rgb(221, 221, 221);
}

#restart-button:active {
    background-color: rgb(221, 221, 221);
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}

.empty-space {
    height: 50px;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto 1fr auto;
        grid-template-areas: 
            "timer"
            "board1"
            "label1"
            "board2"
            "label2"
            "button"
            "empty";
    }
    
    .timer-container {
        grid-area: timer;
    }
    
    .game-board:nth-of-type(1) {
        grid-area: board1;
    }

    .game-board:nth-of-type(2) {
        grid-area: board2;
    }

    .board-label:nth-of-type(1) {
        grid-area: label1;
    }

    .board-label:nth-of-type(2) {
        grid-area: label2;
    }

    #restart-button {
        grid-area: button;
    }

    .game-board,
    .timer-container,
    #restart-button {
        width: 90vw;
    }

    .board-label {
        font-size: 20px;
        margin: 5px 0;
    }

    .empty-space {
        grid-area: empty;
        height: 50px;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5B7493;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding-right: 50px;
}

.navbar-links li {
    padding: 10px 15px;
    font-size: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover, .nav-link.active {
    color: black;
}

